@import url("https://use.typekit.net/jyq2vzj.css");
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://unpkg.com/modern-normalize@3.0.1/modern-normalize.css');
@import url('reset.css')

body {
    background: #0F5098;
}
a {
    transition: opacity 0.3s ease-in-out;
}

.wrapper {
    width: 100%;
    height: 100%;
    background: url(../images/background-image.png) center center / 120% 120% no-repeat ;
    animation: shrink 6s infinite alternate;
}
@keyframes shrink {
    0% {
        background-size: 140% 140%;
    }
    100% {
        background-size: 120% 120%
    }
}

#hero {
    display: flex;
	align-items: center;
	justify-content: center;
    max-width: 100%;
    height: 100vh;
}
.tagline {
    position: absolute;
    font-size: 4rem;
    color: #fff;
    text-align: center;
    z-index: 100;
}
.tagline_1, .tagline_2, .tagline_3, .tagline_4 {
    font-family: "quasimoda", sans-serif;
}
.tagline_3 {
    font-style: italic;
}
#ir_symbol {
    position: absolute;
    width: 45rem;
    height: auto;
    z-index: 10;
}
#ir_logo {
    width: 45rem;
    height: auto;
    fill: #fff;
}
.layer{
    fill: #ffffff;
}
footer.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: #fff;
    font-family: "Inter", sans-serif;
}
.footer_waitlist {
    display: grid;
    place-items: center;
	align-self: center;
    text-align: center;
    flex-grow: 1;
}
.footer_waitlist h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 600;
}
.footer_waitlist p {
    margin: 0 0 3rem 0;
    font-size: 1.5rem;
    line-height: 1.4;
}
.footer_waitlist input,
.footer_waitlist button {
    padding: 8px 16px;
    font-size: 1.25rem;
    border-radius: 8px;
    border: 1px solid #fff;
}
.footer_waitlist button {
    font-weight: 700;
    background: #fff;
    
    color: #0F5098;
}
.footer_copyright {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 1rem;
}
.footer_links {
    list-style: none;
    padding-left: 0;
}
.footer_links li {
    display: inline-block;
    padding-left: 1rem;
}
.footer_links li a:link,
.footer_links li a:visited,
.footer_links li a:hover,
.footer_links li a:active {
    text-decoration: none;
    color: #fff;
}
.footer_links li a:hover {
    opacity: 0.6;
}